body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a{
  color: #17FFF1;
}

h1{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800; 
  font-size: 1.25rem;
  align-self: baseline;
}

h2{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800; 
  font-size: 1rem;
  align-self: baseline;
  margin: 0;
}

h3{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800; 
  font-size: 0.8rem;
  align-self: baseline;
  margin: 0;
}

.line{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  size: 1; 
  width: 100%;
}

.qlogo{
  fill: white;
  margin-left: 10px;
}

.infoClick{
  fill: white;
  fill-opacity: 0;
  cursor: pointer;
  
}

.containerLogo{
  display: flex;
  position: absolute;
  background-color: #100e26;
  width: 20%;
  max-width: 300px;
  height: 4vh;  
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  z-index: 10;
}

.containerFilters{
  display: flex;
  position: absolute;
  background-color: #100e26;
  color: white;
  top: 90vh;
  right: 0;
  left: 0;
  overflow: scroll;
  overflow-y: auto;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 30px;
  z-index: 10;
}

.checkboxSvg {
  display: inline-block;
  /* align-items: center; */
  vertical-align: bottom;
}

.checkboxes{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 100%;
  height: 75%;
  color: white;
  font-size: 0.5em;
  align-self: baseline;
}

@media screen and (min-height: 700px) {
  .checkboxes{
    justify-content:space-evenly;
  }
  
}

.meteoContainer{
  display: flex;
  width: 53%;
  justify-content: space-between;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .containerInfo {
  visibility: hidden;
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  z-index: 100;
  background-color: #202e4b;
  color: white;
  font-size: 0.8em;
  width: 50vh;

  /* margin-top: 2vh; */
  margin-bottom: none;
  
  overflow: scroll;
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;

}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.containerDetails{
  align-items: center;
  display: flex;
  position: absolute;
  background-color: #100e26;
  color: white;
  width: 180px;
  right: 0;
  top: 18vh;
  height: 30vh;
  overflow: scroll;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 10;
}

.divDaylight{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}

.daylight{
  color: white;
  width: 90px;
  display: flex;
  flex-direction: column;
}

.infoDaylight{
  font-size: 1em;
  font-weight: 400;
  align-self: center;
  top: 0;
  margin-left: 10px;
}

.textDaylight{
  font-size: 0.7em;
  font-weight: 400;
}


.selectWrapper{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  background-color: #100e26;
  transform: translate(0, -100%);
}
.selectWrapper p{
  padding-right: 20px;
  font-size: 0.8em;
  color: white;
  margin-left: 20px;
  transform: translate(0, 0%);
}

.timelineContainer{
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #100e26;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  /* text-align: center; */
  /* align-items:b/ ; */
}

/* .containerTime{
  display: flex;
  position: absolute;
  background-color: ;
  color: white;
  width: 900px;
  height: 3vh;
  bottom: 2vh;
  right: 2vh;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
} */





.dropdown {
  /* position: absolute; */
  /* transform: translate(0%, -100%); */
  background-color: #100e26;
  border: none;
  color: white;
  height: 4vh;
  width: 10vw;
  min-width: 150px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 1000;
  
}


.containerTime{
  display: flex;
  position: absolute;
  background-color: #100e26;
  color: white;
  width: 900px;
  height: 3vh;
  bottom: 2vh;
  right: 2vh;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.todayLabel{
  width: calc(100%/15);
  display: inline-block;
  align-items: center;
  text-align: center;
}



/* .timeLabelsContainer{
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  text-align: center;
  align-items: center;
  border: red 2px solid;
}

.timeLabels{
  border: green solid 2px;
  position: absolute;
  transform: translate(50%);
} */

.timelineWrapper{
  text-align: center;
}

.timelineBottom{
  position: absolute;
  /* bottom: 20px;
  left: 20px;
  right: 10px; */
}


::-webkit-scrollbar{
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #000; 
  box-shadow: inset 0 0 5px #1b295c; 
}

::-webkit-scrollbar-thumb {
  background: #1b295c; 
  border-radius: 10px;
  /* width: 8px; */
}

/* .containerInfoA {
  display: none;
  position: relative;
  background-color: #100e26;
  color: white;
  font-size: 0.6em;
  width: 300px;
  height: 23vh;
  min-height: 100px;
  margin-top: 2vh;
  margin-bottom: none;
  left: 2vh;
  overflow: scroll;
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.containerInfoA h3{
  margin-bottom: 3%;
} */

.cityLegend{
  background-color: #100e26;
  padding: 5px;
  width: 150px;
  position: absolute;
  z-index: 10;
  top: 0.5vh;
  right: 10vw;
  text-align: center;
}

.legend{
  margin-top: 5px;
}



.aura-explora-logo{
  width: 150px;
  height: 50px;
  background-color: #100e26;
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.aura-explora-logo svg{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.map .land{
  fill: #100E26;
  cursor: pointer;
}

.stations svg{
  position: absolute;
}

.innerCircle{
  opacity: 0;
  cursor: pointer;
}

.stations circle:hover + .hide{
  display: inline;
}


.hide{
  display: none;
}

.stations text{
  fill: white;
  
  font-size: 0.6em;
}

.clouds{
  fill: white;
  stroke: white;
  stroke-dasharray: 1px;
  stroke-opacity: 0.8;
  cursor: pointer;
}

.cloudsSelected{
  fill: white;
  stroke: red;
  /* stroke-dasharray: 1px; */
  /* stroke-opacity: 0.8; */
  cursor: pointer;
}

.map .surrounding-countries{
  fill: #131526;
  fill-opacity: 0.3;
  stroke: #2D2F4B;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.map .interiors{
  fill: none;
  stroke: #2D2F4B;
  stroke-width: 0.5px;
}

.map .sphere{
  fill: black;
}

.map .graticules{
  fill: none;
  stroke: #3054a7;
  opacity: 0.1;
}

.map .cityContainer{
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map .cities{
  fill: #103a9b;
  stroke: none;
}

.map .cityNames{
  fill: white;
  opacity: 0.5;
  font: 'Helvetica-Neue', sans-serif;
  position: absolute;
  /* transform: translate(10%); */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
}

.marks path{
  fill: 'white';
  opacity: 0.8;
}

.ticks text{
 fill:'white';
}

.ticks line{
  fill: 'white'
}

.aurora{
  opacity: 0.4;
  /* stroke: white; */
  fill-opacity: 1;
  pointer-events: none;
  /* fill-rule:nonzeroß; */
  
}

.kpIndex{
  opacity: 0.3;
  fill-opacity: 1;
  pointer-events: none;
  /* fill: #FF0000; */
}

.checkboxLabels{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.stationIconLegend {
  position: absolute;
  left: 50%;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox--active {
  /* display: none; */
  fill: none;
}

.svgScale{
  margin-top: 5%;
  display: inline;
  cursor:pointer;
}


.scaleLabels{
  width: 100%;
  /* justify-content: space-evenly; */
  text-align: center;
}

.scaleTitle{
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* .scaleLabelChildFour{
  position: absolute;
  transform: translate(-50%,0%);
  text-align: center;
  bottom: 0;
  /* width: calc(100%/4); */
  /* display: inline-block; */
  /* vertical-align: center; }*/


/* .daylightScale{
  position: absolute;
  left: 10px;
}*/




.scaleLabelChildFive{
  width: calc(100%/5);
  display: inline-block;
  vertical-align: center;
  text-align: center;
  /* margin: 1%; */
}

.scaleLabelChildSix{
  width: calc(100%/6);
  display: inline-block;
  vertical-align: center;
  text-align: center;
  /* margin: 1%; */
}

.hidden{
  display: none;
}

/* Aurora Level Colours*/

.level1{
  fill: #edf8e9;
}

.level2{
  fill: #bae4b3;
}

.level3{
  fill: #74c476;
}

.level4{
  fill: #31a354;
}

.level5{
  fill: #006d2c;
}

/* Kp-index Scale Colours */
.kpScale1{
  fill: #2166ac;
}

.kpScale2{
  fill: #67a9cf;
}

.kpScale3{
  fill: #dae5f0;
}

.kpScale4{
  fill: #fee090
}

.kpScale5{
  fill: #fc8d59;
}

.kpScale6{
  fill: #d73027
}

/* Cloud Scale Colours */
.cloudScale1{
  fill: #100e26;
  stroke: white;
  stroke-width: 2px;
  opacity: 0.2;
}

.cloudScale2{
  fill: #ffffff33;
}

.cloudScale3{
  fill: #ffffff66;
}

.cloudScale4{
  fill: #ffffff99;
}

.cloudScale5{
  fill: #ffffffcc;
}

/* .day{
  fill: #ffff9c;
}

.night{
  fill: black;
} */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#map {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 500px;
}


@media screen and (min-width: 800px){
  body{
    overflow: hidden;
  }
  .containerFilters{
    width: 31%;
    top: 120px;
    max-width: 300px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .timelineContainer{
    bottom: 0;
  }
  .containerDetails{
    top:40vh;
    height: 300px;
    width: 25%;
    max-width: 300px;
  }
  .cityLegend{
    right: 10vh;
  }
  .popup .containerInfo{
    left: 40vh;
    bottom: 63vh;
  }
}

@media screen and (max-height: 1000px) {
  .containerDetails{
    top: 10vh;
    min-height: 40vh;
  }
  
}

@media screen and (max-height: 800px) and (min-width: 800px){
  body{
    overflow: auto;
  }
  .aura-explora-logo{
    top: 1vh;
  }
  .containerFilters{
    top: 13vh;
  }
  .timelineContainer{
    top: 90vh;
  }
  .popup .containerInfo{
    bottom: 40vh;
  }
  
}

@media screen and (max-height: 600px) {
  .timelineContainer{
    top: 100vh;
  }
  .containerDetails{
    top: 14vh;
  }
  
}



