body {
  overflow: hidden;
  background: black;
}

a{
  color: #17FFF1;
}

.line{
  margin-top: 10px;
  margin-bottom: 10px;
}

.largeContainer{
  display: flex;
  position: absolute;
  height: 100%;
  flex-direction: column;
  z-index: 10;
}

.containerLogo{
  display: flex;
  position: relative;
  background-color: #100e26;
  width: 300px;
  height: 5%;
  min-height: 50px;
  top: 2vh;
  left: 2vh;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.containerFilters{
  display: flex;
  position: relative;
  background-color: #100e26;
  color: white;
  width: 300px;
  height: 50vh;
  min-height: 250px;
  overflow: scroll;
  overflow-y: auto;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 4vh;
  margin-bottom: none;
  left: 2vh;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
}

.containerInfoK {
  display: none;
  position: relative;
  background-color: #100e26;
  color: white;
  font-size: 0.6em;
  width: 300px;
  height: 23vh;
  min-height: 100px;
  margin-top: 2vh;
  margin-bottom: none;
  left: 2vh;
  overflow: scroll;
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #000; 
  box-shadow: inset 0 0 5px #1b295c; 
}

::-webkit-scrollbar-thumb {
  background: #1b295c; 
  border-radius: 10px;
  /* width: 8px; */
}

.containerInfoA {
  display: flex;
  position: relative;
  background-color: #100e26;
  color: white;
  font-size: 0.6em;
  width: 300px;
  height: 23vh;
  min-height: 100px;
  margin-top: 2vh;
  margin-bottom: none;
  left: 2vh;
  overflow: scroll;
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.containerInfoA h3{
  margin-bottom: 3%;
}

.containerDetails{
  display: flex;
  position: absolute;
  background-color: #100e26;
  color: white;
  width: 300px;
  height: 30vh;
  top: 20vh;
  right: 2vh;
  align-items: right;
  flex-wrap: wrap;
  padding: 30px;
}


h2{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800; 
  font-size: 1.2em;
  align-self: baseline;
  margin: 0;
}

h3{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800; 
  font-size: 1.3em;
  align-self: baseline;
  margin: 0;
}

.checkboxSvg {
  display: inline-block;
  /* align-items: center; */
  vertical-align: bottom;
}

.checkboxes{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 100%;
  height: 75%;
  color: white;
  font-size: 0.625em;
  align-self: baseline;
}

@media screen and (min-height: 700px) {
  .checkboxes{
    justify-content:space-evenly;
  }
  
}

.checkboxes h2{
  margin-bottom: 5%;
  font-size: 2em;
}

.meteoContainer{
  display: flex;
  width: 53%;
  justify-content: space-between;
}

.aura-explora-logo{
  width: 150px;
  height: 50px;
  background-color: #100e26;
  position: absolute;
  top: 30px;
}

.aura-explora-logo svg{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.map .land{
  fill: #100E26;
  cursor: pointer;
}

.stations svg{
  position: absolute;
}

.innerCircle{
  opacity: 0;
}

.stations circle:hover + .hide{
  display: inline;
}


.hide{
  display: none;
}

.stations text{
  fill: white;

  font-size: 0.6em;
}

.clouds{
  fill: white;
}

.map .surrounding-countries{
  fill: #131526;
  fill-opacity: 0.3;
  stroke: #2D2F4B;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.map .interiors{
  fill: none;
  stroke: #2D2F4B;
  stroke-width: 0.5px;
}

.map .sphere{
  fill: black;
}

.map .graticules{
  fill: none;
  stroke: #3054a7;
  opacity: 0.1;
}

.map .cityContainer{
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map .cities{
  fill: #3054a7;
  stroke: none;
  opacity: .5;
}

.map .cityNames{
  fill: white;
  opacity: 0.5;
  font: 'Helvetica-Neue', sans-serif;
  font-size: 0.4em;
  position: absolute;
  /* transform: translate(10%); */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
}

.aurora{
  opacity: 0.2;
  /* stroke: white; */
  fill-opacity: 1;
  pointer-events: none;
  /* fill-rule:nonzeroß; */
  
}

.kpIndex{
  opacity: 0.2;
  fill-opacity: 1;
  pointer-events: none;
  /* fill: #FF0000; */
}

.checkboxLabels{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.stationIconLegend {
  position: absolute;
  left: 50%;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox--active {
  /* display: none; */
  fill: none;
}

/* Aurora Scale*/

.level0{
  fill: #3054a7;
  opacity: 0.3;
}

.level1{
  fill: #17FFF1;
}

.level2{
  fill: #037200;
  opacity: 0.3;
}

.level3{
  fill: #FAFF02;
}

.level4{
  fill: #EB9411;
}

.level5{
  fill: #FF0000;
}

.svgScale{
  margin-top: 5%;
  
}

.scaleRect{
  opacity: 0.4;
}

.scaleLabels{
  width: 100%;
  /* justify-content: space-evenly; */
  text-align: center;
}

.scaleTitle{
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.scaleLabelChildFive{
  width: calc(100%/5);
  display: inline-block;
  vertical-align: center;
  text-align: center;
  /* margin: 1%; */
}

.scaleLabelChildSix{
  width: calc(100%/6);
  display: inline-block;
  vertical-align: center;
  text-align: center;
  /* margin: 1%; */
}

.hidden{
  display: none;
}

/* Cloud Scale */
.cloudScale1{
  fill: #100e26;
  stroke: white;
  stroke-width: 2px;
  opacity: 0.2;
}

.cloudScale2{
  fill: #ffffff;
  opacity: 0.2;
}

.cloudScale3{
  fill: #ffffff;
  opacity: 0.4;
}

.cloudScale4{
  fill: #ffffff;
  opacity: 0.6;
}

.cloudScale5{
  fill: #ffffff;
  opacity: 0.8;
}

.day{
  fill: #ffff9c;
}

.night{
  fill: black;
}
/* .map .kp1{
  fill: lime;
  opacity: 0.2;
}

.map .kp2{
  fill: green;
}

.map .kp4{
  fill: yellow;
}

.map .kp6{
  fill: orange;
}

.map .kp8{
  fill: red;
} */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#map {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 500px;
}
